.promo {
    margin-bottom: 30px;
    min-height: 828px;
    background-image: url('../../img/promo-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo--second {
    background-image: url('../../img/promo-background-2.jpg');
}

.promo--third {
    background-image: url('../../img/promo-background-3.jpg');
}

.promo__wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 305px 60px 70px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper__promo .promo__swiper-scrollbar {
    height: 4px;
    width: 295px;
    background-color: #000000;
    bottom: 100px;
    left: var(--swiper-scrollbar-sides-offset, 70%);
    right: 10px;
}

.swiper__promo .promo__swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #ffffff;
    cursor: pointer;
}

.promo__description {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
}

.promo__title {
    font-size: 96px;
    line-height: 117px;
    text-transform: uppercase;
    margin-bottom: 58px;
}

.promo__link {
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 17px;
    display: flex;
    align-items: center;
    gap: 13px;
    transition: all .5s;
}

.promo__link svg path {
    transition: all .5s;
}

.promo__link:hover {
    transform: scale(1.2);
    color: #0077d4;
}

.promo__link:hover svg path{
    fill: #0077d4;
}

.promo__btn-container {
    max-width: 295px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: var(--swiper-scrollbar-sides-offset, 70%);
    bottom: 120px;
    z-index: 5;
}

.promo__btn {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s;
}

.promo__btn:hover {
    color: #0077d4;
    transform: scale(1.2);
}

@media (max-width: 1200px) {

    .promo__title {
        font-size: 72px;
    }
}

@media (max-width: 1000px) {
    .swiper__promo .promo__swiper-scrollbar {
        left: var(--swiper-scrollbar-sides-offset, 60%);
    }

    .promo__btn-container {
        left: var(--swiper-scrollbar-sides-offset, 60%);
    }

    .promo__title {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .promo {
        min-height: 700px;
    }

    .promo__description {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .promo__title {
        margin-bottom: 30px;
        line-height: 50px;
    }

    .promo__link {
        font-size: 12px;
    }

    .promo__btn-container {
        max-width: 200px;
        left: calc(50vw - 100px);
    }

    .promo__btn {
        font-size: 10px;
    }

    .swiper__promo .promo__swiper-scrollbar {
        width: 200px;
        left: calc(50vw - 100px);
    }
}

@media (max-width: 500px) {
    .promo__title {
        font-size: 22px;
    }

    .promo__description {
        font-size: 12px;
    }

    .promo__link {
        font-size: 10px;
    }
}